<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dd.ai_smart_course.mapper.OptionMapper">

    <!-- 批量插入 -->
    <insert id="insertBatch">
        INSERT INTO options (question_id, opt_key, opt_value)
        VALUES
        <foreach collection="options" item="o" separator=",">
            (#{o.question_id}, #{o.optKey}, #{o.optValue})
        </foreach>
    </insert>

    <!-- 批量删除 -->
    <delete id="deleteByQuestionIds">
        DELETE FROM options WHERE question_id IN
        <foreach collection="questionIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
