<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dd.ai_smart_course.mapper.ScoreMapper">

    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id" >
        insert into score(user_id, grade, comment, submit_time)
        values
            <foreach collection="list" item="sc" separator=",">
                (#{sc.userId}, #{sc.grade}, #{sc.comment}, #{sc.submitTime})
            </foreach>
    </insert>

    <update id="update">
        update score
        <set>

            <if test="grade!=null">
                    grade = #{grade},
            </if>
            <if test="comment != null">
                comment = #{comment},
            </if>
            <if test="submitTime != null">
                submit_time = #{submitTime},
            </if>
        </set>
        where user_id = #{userId}and task_id = #{taskId}
    </update>

    <delete id="deleteByIds">
        delete from score where id in
        <foreach item="id" collection="list" separator="," close=")" open="(">
            #{id}
        </foreach>
        />
    </delete>

    <select id="getAvgScoreByTaskIdAndUserId" resultType="java.math.BigDecimal">
        SELECT AVG(final_score) FROM scores
        <where>
            user_id = #{userId}
            <if test="taskId != null and !taskId.isEmpty()">
                AND task_id IN
                <foreach item="id" collection="taskId" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>

        </where>
    </select>

    <!-- 获取某门课程的所有学生的平均分（假设每份task权重相等）   -->
    <select id="getFinalScoreByCourseId" resultType="com.dd.ai_smart_course.dto.ScoreDTO">
        SELECT s.user_id, t.course_id, AVG(s.total_score)
        FROM scores s
        LEFT JOIN tasks t ON s.task_id = t.id
        WHERE t.course_id = #{courseId}
        GROUP BY s.user_id, t.course_id
    </select>
</mapper>