<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dd.ai_smart_course.mapper.TaskMapper">
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id" >
        insert into tasks(course_id, title, type, deadline, created_at)
        values (#{courseId}, #{title}, #{type}, #{deadline}, #{createdAt})

    </insert>
    <select id="listByCourseId" resultType="com.dd.ai_smart_course.entity.Task">
        select * from tasks where course_id = #{courseId}
    </select>
    <select id="listByCourseIds" resultType="com.dd.ai_smart_course.entity.Task">
        select * from tasks
        <where>
                and course_id in
                <foreach item="courseId" collection="courseIds" separator="," open="(" close=")">
                    #{courseId}
                </foreach>
        </where>
    </select>

    <update id="update" parameterType="Task">
        update tasks
        <set>
            <if test="courseId != null">
                course_id = #{courseId},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="deadline != null">
                deadline = #{deadline},
            </if>
            <if test="updateAt != null">
                updateAt=#{updatedAt},
            </if>

        </set>
        where id=#{id}

    </update>

</mapper>
